version: '3.4'
services:
{% for index in range(1, tournament_server_count + 1) %}
    csgoserver{{ '%02d' % index }}:
        image: "raks321/linuxgsm-docker:latest"
        container_name: csgoserver{{ '%02d' % index }}
        environment:
            - GAMESERVER=csgoserver
            - GAMESERVER_INSTANCE={{ '%02d' % index }}
            - LGSM_GITHUBUSER=GameServerManagers
            - LGSM_GITHUBREPO=LinuxGSM
            - LGSM_GITHUBBRANCH=master
        volumes:
            - "{{ csgo_server_path }}/serverfiles:/home/linuxgsm/serverfiles"
            - "{{ csgo_server_path }}/log:/home/linuxgsm/log"
            - "{{ csgo_server_path }}/config-lgsm:/home/linuxgsm/lgsm/config-lgsm"
        ports:
            - "270{{ '%02d' % index }}:270{{ '%02d' % index }}/tcp"
            - "270{{ '%02d' % index }}:270{{ '%02d' % index }}/udp"
            - "271{{ '%02d' % index }}:271{{ '%02d' % index }}/udp"
            - "272{{ '%02d' % index }}:272{{ '%02d' % index }}/udp"
        restart: unless-stopped
{% endfor %}
