##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

#### Game Server Settings ####
port="270{{ '%02d' % item }}"
clientport="271{{ '%02d' % item }}"
sourcetvport="272{{ '%02d' % item }}"
steamport="26901"

## Game Server Login Token (GSLT): Required
# GSLT is required for running a public server.
# More info: https://docs.linuxgsm.com/steamcmd/gslt
gslt="{{ lookup('vars', 'gslt_token_csgoserver' + '%02d' % item) }}"

# Display IP | https://docs.linuxgsm.com/alerts#display-ip
displayip=""