##################################
####### Instance Settings ########
##################################
# PLACE INSTANCE SETTINGS HERE
## These settings will apply to a specific instance.

#### Game Server Settings ####
port="27015"
clientport="27005"
sourcetvport="27020"
steamport="26901"

## Game Server Login Token (GSLT): Required
# GSLT is required for running a public server.
# More info: https://docs.linuxgsm.com/steamcmd/gslt
gslt=""

# Display IP | https://docs.linuxgsm.com/alerts#display-ip
displayip=""