[
  {
    "name": "{{ item.team_name }}",
    "flag": "{{ tournament_default_flag }}",
    "logo": null,
    "tag": "{{ tournament_server_name }}",
    "public_team": 0,
    "auth_name": {
      "{{ item.participant1 }}": {
        "name": "",
        "captain": 1,
        "coach": 0
      },
      "{{ item.participant2 }}": {
        "name": "",
        "captain": 0,
        "coach": 0
      },
      "{{ item.participant3 }}": {
        "name": "",
        "captain": 0,
        "coach": 0
      },
      "{{ item.participant4 }}": {
        "name": "",
        "captain": 0,
        "coach": 0
      },
      "{{ item.participant5 }}": {
        "name": "",
        "captain": 0,
        "coach": 0
      }
      {% if '' != item.participant6 %}
      ,"{{ item.participant6 }}": {
        "name": "",
        "captain": 0,
        "coach": 1
      }
      {% endif %}
    }
  }
]